html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background-color: #A5BCD1;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.container{
	width: 100%;
	max-width: 1440px;
	height: auto;
}

.container--first{
	display: flex;
}

.header__items--first{
	width: 50%;
}

.logos{
	display: flex;
	margin: 15px 15px;
}

.logos img{
	margin-top: 15px;

	width: 70px;
	height: 70px;
	border-radius: 5px;
}

.logo__text{
	padding-left: 10px;
	padding-top: 20px;

	font-size: 15px;
	font-weight: 600;
}

.title{
	text-align: center;
}

.title h1{
	margin:50px auto;

	font-size: 35px;
	font-weight: 700;
}

.title h2{
	font-weight: 500;
}

.last__publication{
	padding-top: 20px;
	text-align: center;
	font-weight: 600;
	color: #333;
}

.first__token{
	position: relative;
	margin: 50px 100px;

	background-color: #fff;
	border-radius: 30px;
}

.first__token:hover{
	transition: .5s linear;
	transform: scale(1.04, 1.04);
}

.last__photo{
	margin-left: 15px;
	margin-top: 10px;
	width: 90%;
	height: 100%;
	

	border-radius: 10px;

}

.last__heart{
	padding: 10px 150px; 
}

/* .likes{
	position: absolute;
	top: 86%;
	left: 58%;

	color: #333;
	font-size: 20px;
	font-weight: 600;
} */

.header__items--second{
	display: flex;
	margin: 20px 15px;
	padding: 15px 10px;

	background-color: #8098EF;
	border-radius: 14px;
}

.header__items--second i{
	position: absolute;
	top: 62px;
	left: 45.1%;

	color: #757575;
	
}

.gray__bg{
	margin: 20px 10px;
	background-color: #63717D;

	border-radius: 20px;
}

.nav{
	display: flex;
	margin-left: 90px;
	margin-top: 7px;
}

.nav__link{
	padding-left: 40px;

	text-decoration: none;
	color: #333;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__link:hover{
	transition: .5s linear;
	transform: scale(1.1, 1.1);
	color: #ECFF96;
}

.subscribe__input{
	width: 180px;
	height: 30px;
	margin-left: 13px;

	border: none;
	padding-left: 30px;
	border-radius: 4px;
	background-color: #e5e5e5;
	text-transform: uppercase;
}

.about__nft{
	margin: 0 70px;

	color: #F8EB79;
	text-align: center;
	line-height: 1.8;
	font-size: 20px;
}

.nft__title{
	padding: 30px 0;
	font-size: 30px;
}

.nft__text{
	padding-top: 40px;
}

.bg__rectangle{
	position: absolute;
	width: 1188px;
	height: 326px;
	right: 80px;
	top: -20px;

	background: #111111;
	opacity: 0.3;
	border-radius: 50px;
	z-index: -5;
}

/*section*/

.first__step{
	display: flex;
	margin-top: 80px;
	margin-left: 100px;

}

.first__step--second{
	margin-top: 150px;
}

.fox__photo{
	margin: 0 88px;
}

.first__step__title{
	position: relative;
}

.fox__photo--monkey img{
	margin-top: 70px;
	width: 300px;
	height: 150px;
	border-radius: 40px;
}

.first__step__suptitle{
	margin-top: 70px;

	font-size: 30px;
	font-weight: 700;
	color: #FCFF6F;
}

.first__step__text{
	padding-top: 23px;
	width: 60%;

	font-size: 19px;
	font-weight: 600;
}

.fox__photo img:hover{
	transition: .5s linear;
	transform: scale(1.1, 1.1);
}

.fox__photo--fourth{
	margin-left: 100px;
	border-radius: 40px;
}

.first__step__text--last{
	width: 70%;
}

.last__title{
	text-align: center;
	margin-top: 70px;
}

.last__title--help{
	text-align: left;
}

.suptitle{
	color: #FCFF6F;
	font-weight: 700;
	font-size: 25px;
}

.suptitle--about__us{
	margin-top: -50px;

	background-color: #C4C4C4;
	padding: 10px 0;
}

.suptitle--help{
	text-align: center;
	margin-top: -50px;

	background-color: #C4C4C4;
	padding: 10px 0;
}

.btn__to__main__page{
	margin-top: 158px;
	margin-left: 38%;

	padding: 20px 70px;
	background: rgba(17, 17, 17, 0.2);
	border-radius:  15px;
	border: none;
	cursor: pointer;
}

.btn__to__main__page a{
	text-decoration: none;
	font-size: 17px;
	color: #111;
	font-weight: 600;
}

.btn__to__main__page:hover{
	transition: .6s;
	transform: scale(1.1);
}

.title__text{
	padding-top: 40px;

	color: #333;
	font-weight: 600;
	font-size: 20px;
}

.title__text--about__us{
	padding-top: 90px;
}

.last__photo__items{
	margin-top: 60px;
}

.title__text--help{

}

/* photo__items */

.photo__items{
	position: relative;
	justify-content: space-between;
	display: flex;
	margin: 0 130px;
}

.photo__item{
	background-color: #C4C4C4;
	padding: 20px;
	border-radius: 40px;

}

.photo__item--first__monkey img{
	width: 200px;
	height: 200px;
	border-radius: 40px;
}

.photo__item--second__monkey img{	
	width: 200px;
	height: 200px;

	border-radius: 40px;
}

.photo__item--post{
	position: absolute;
	top: -15px;
	left: 39%;
	padding: 70px 90px;

	background: #C4C4C4;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 100px;
}

.photo__item--post a{
	text-decoration: none;
	color: #111;
}

.photo__item:hover{
	transform: scale(1.05);
	transition:.5s linear;
}

/*footer*/

.footer{
	margin-top: 60px;
	background-color: #63717D;
	color: #fff;
}

.footer__items{
	margin: 0 30px;
	display: flex;
	justify-content: space-between;
}

.footer__item ul{
	font-weight: 600;
}

.footer__item h2{
	padding-top: 20px;
	padding-bottom: 10px;
}

.footer__item input{
	background-color: #e5e5e5;
	border: none;
	padding: 6px 10px;
	font-size: 15px;
	border-radius: 2px;
}

.social__icon{
	display: flex;
	margin-left: 120px;
}

.social__net{
	padding-right: 20px;

	color: #e5e5e5;
	font-size: 25px;

	transition: .3s linear;

}

.social__net:hover{
	transition: .3s linear;
	transform: scale(1.5, 1.5);
}

.social__net--vk:hover{
	color: #2787F5;
}

.social__net--gmail:hover{
	color: #FF8555;
}

.social__net--twitter:hover{
	color: #1D9BF0;
}

.social__net--whatsapp:hover{
	color: #49EA66;
}

.social__net--instagram:hover{
	color: #F929D5;
}
